.pull-right{
  float: right;
  text-align: left;
}
.emphasize{
  font-weight: bold;
}

html{
  height: 100%;
}

body{
  -webkit-font-smoothing: antialiased;
  background: $color-body-bg;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  min-height: 100%;
  font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
small{
  font-size: 12px;
}

input{
    display: inline-block;
    background-color: $color-textarea-bg;
    border: 1px solid $color-textarea-border;
    border-radius: 3px;
    &::-webkit-input-placeholder{
      color: $color-textarea-placeholder;
    }
    &:focus{
      outline: 0;
      border-color: rgba($color-textarea-border-focus,0.5);
    }
}

.page-outer{
  width: 100%;
  height: 100%;
  position: relative;
  &-signup{
    background: $color-signup-bg;
  }
  .alert-messages{
    position: fixed;
    top: 47px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: top .5s;
    .message{
      position: relative;
      width: 600px;
      padding: 20px;
      margin: 0 auto;
      background: $color-canvas;
      border-radius: 0 0 6px 6px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.25);
      a{
        font-size: 12px;
        font-weight: bold;
        margin-top: 0;
        color: $color-alert-text;
        text-decoration: none;
      }
      .close{
        position: absolute;
        top: 7px;
        right: 12px;
        width: 10px;
        height: 10px;
        margin-top: 5px;
        cursor: pointer;
      }
      &-text{
        display: block;
        margin: 0 20px;
        color: $color-alert-text;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        word-wrap: break-word;
      }
    }
  }
}

.wrapper{
    margin: 0 auto;
    min-height: 0;
    padding: 56px 23px 15px;
    position: relative;
    width: auto;
    max-width: 837px;
  &-signup{
    padding-top: 130px;
    padding-bottom: 50px;
    width: 890px;
  }
  &-signin{
    padding: 56px 14px 15px;
    margin: 0 auto;

  }
}

.page-canvas{
  margin: 0 auto;
  background: $color-canvas;
  &-signup{
    width: 500px;
  }
  &-signin{
    box-shadow: 0 0 225px rgba(255,255,255,0.5);
    border: 1px solid rgba(0,0,0,0.1);
  }
}

.EdgeButton{
  border-radius: 100px;
  box-shadow: none;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  &--large{
    font-size: 18px;
    line-height: 24px;
    padding: 12px 20px;
  }
  &--medium{
    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;
  }
  &--small{
    font-size: 12px;
    line-height: 16px;
    padding: 4px 12px;
  }
  &--primary{
    background-color: $color-EdgeButton-bg;
    border: 1px solid $color-EdgeButton-bg;
    color: $color-EdgeButton-font;
    &:hover{
      cursor: pointer;
      background-color: $color-EdgeButton-bg-focus;
      transition: background .2s linear;
    }
  }
  &--primary2{
    background-color: $color-EdgeButton-bg2;
    border: 1px solid $color-EdgeButton-bg2;
    color: $color-EdgeButton-font;
    &:hover{
      cursor: pointer;
      background-color: $color-EdgeButton-bg;
      border: 1px solid $color-EdgeButton-bg;
    }
  }
  &--secondary{
    background-color: $color-EdgeButton-bg3;
    border: 1px solid $color-EdgeButton-bg2;
    color: $color-EdgeButton-bg2;
    &:hover{
      cursor: pointer;
      background-color: $color-EdgeButton-bg-focus2;
      border: 1px solid $color-EdgeButton-bg2;
    }
  }
  &--tertiary{
    background-color: $color-EdgeButton-bg3;
    border: 1px solid $color-EdgeButton-font2;
    color: $color-EdgeButton-font2;
    &:hover{
      cursor: pointer;
      background-color: $color-EdgeButton-bg-focus3;
      border: 1px solid $color-EdgeButton-font2;
    }
  }
}

.TweetBoxExtras{
  flex-shrink: 0;
  float: left;
  &-item{
    display: inline-block;
    position: relative;
    button{
      color: $color-EdgeButton-bg;
      background: inherit;
      font-size: 20px;
      border: 0;
    }
    input{
      display: none;
    }
  }
}


.clearfix{
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}

.u-bgUserColor{
  background-color: $color-main-font3;
}

.u-bgColorLightest{
  background-color: $color-main-tweetbox;
}

.u-borderUserColorLight{
  border-color: $color-tweetbox-border;
}

.u-textUserColor{
  color: $color-main-font3;
}

.u-textInheritColor{
  color: inherit;
}

.u-linkClean{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

.Grid{
  height: 100%;
  text-align: left;
  &--withGutter{
    margin: 0 -5px;
  }
  &-cell{
    width: 100%;
    padding: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    text-align: left;
    vertical-align: top;
  }
}

.u-size1of3{
  width: 33%;
}

.u-size2of3{
  width: 66%;
}

.u-size1of2{
  width: 50%;
}

.u-mb10{
  margin-bottom: 10px;
}

.u-boxShadow{
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

.u-block{
  display: block;
}

.u-floatRight{
  float: right;
}
.u-floatLeft{
  float: left;
}

.u-textCenter{
  text-align: center;
}

.u-textRight{
  text-align: right;
}

.u-inlineBlock{
  display: inline-block;
  max-width: 100%;
}

.u-textTruncate{
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.Arrange{
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  &--equal{
    table-layout: fixed;
    .Arrange-sizeFit{
      width: 1%;
    }
  }
  &--bottom{
    vertical-align: bottom;
  }
  &-sizeFit{
    display: table-cell;
    padding: 0;
  }
}

.follow-button-wrapper{
  .follow-button{
    display: block;
  }
  .following-button{
    display: none;
  }
}

.following-button-wrapper{
  .follow-button{
    display: none;
  }
  .following-button{
    display: block;
  }
}
