.AppContent{
  padding: 56px 14px 15px;
  position: relative;
  width: 890px;
  margin: 0 auto;
  min-height: 0;
  .dashboard{
    float: left;
    width: 290px;
    .DashboardProfileCard{
      border: 1px solid $color-main-border;
      background : $color-canvas;
      position : relative;
      margin-bottom: 10px;
      .u-bgUserColor{
        background-color: $color-main-font3;
      }
      &-bg{
        display: block;
        background-size: 100%;
        height: 95px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-position: 50%;
        width: 100%;
        padding: 0;
        margin-top: -1px;
      }
      &-avatarContainer{
        display: block;
        width: 72px;
        .avatar-settings{
          float: none;
          right: auto;
          position: relative;
        }
      }
      &-avatarLink{
        display: inline-block;
        border-radius: 50%;
        margin: -30px 0 0 8px;
        padding: 1px;
        vertical-align: bottom;
      }
      &-avatarImage{
        border-radius: 50px;
        height: 72px;
        width: 72px;
        border: 2px solid $color-canvas;
        box-sizing: border-box;
        color: $color-canvas;
        i{
          display: inline-block;
          margin: 35px 0 0 20px;
          line-height: 1px;
          font-size: 25px;
        }
      }
      &-userFields{
        position: absolute;
        top: 103px;
        left: 90px;
        width: 185px;
      }
      &-name{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin: -1px 0 -2px 0;
        a{
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
      }
      &-screenname{
        a{
          text-decoration: none;
          color: $color-main-font2;
        }
        a:hover{
          text-decoration: underline;
        }
        .username{
          font-size: 14px;
          font-weight: normal;
        }
      }
      .ProfileCardStats{
        padding: 16px;
        &-stat{
          box-sizing: border-box;
          line-height: 1;
          overflow: hidden;
          transition: all .15s ease-in-out;
        }
        &-statLink:hover .ProfileCardStats-statLabel{
          color: $color-main-font3;
        }
        &-statLabel{
          color: $color-main-font2;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: .02em;
          line-height: 16px;
          overflow: hidden;
          transition: color .15s ease-in-out;
        }

        &-statValue{
          font-size: 18px;
          font-weight: bold;
          padding-top: 3px;
        }
      }
    }
  }
  .content-main{
    float: right;
    width: 590px;
  }
  .top-timeline-tweetbox{
    .timeline-tweet-box{
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border: 1px solid $color-main-border;
      .home-tweet-box{
        background-color: $color-main-tweetbox;
        padding: 10px 12px;
        position: relative;
        .top-timeline-tweet-box-user-image{
          position: absolute;
          left: 28px;
          top: 13px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        .t1-form{
          margin-left: 56px;
          .tweet-content{
            position: relative;
            margin-bottom: 8px;
            .editor-container{
              border-color: $color-tweetbox-border;
              box-shadow: 0 0 0 1px $color-tweetbox-border;
              background: $color-tweetbox-bg;
              border-radius: 8px;
              z-index: 5;
              .editor{
                border: 0;
                box-sizing: border-box;
                border-radius: 0;
                box-shadow: none;
                font-size: 14px;
                margin-left: 6px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 31px;
                display: block;
                min-height: 80px;
                overflow: hidden;
                vertical-align: top;
                width: calc(100% - 12px);
                resize: none;
                &:focus{
                  outline: none;
                }
              }
            }
          }
          .tweetboxtoolbar{
            align-items: center;
            &-tweetButton{
              float: right;
              width: 90px;
            }
          }
        }
      }
    }
  }
  .stream-container{
    position: relative;
    list-style: none;
    .stream{
      position : relative;
      &-items{
        position: relative;
        list-style-type: none;
      }
      &-item{
        background: $color-stream-bg;
        border-left: 1px solid $color-textarea-border;
        border-right: 1px solid $color-textarea-border;
        position: relative;
        .tweet{
          position: relative;
          min-height: 51px;
          padding: 9px 12px;
          border-bottom: 1px solid $color-textarea-border;
          cursor: pointer;
          &:hover{
            background: $color-stream-bg2;
          }
          .content{
            margin-left: 58px;
            .stream-item-header{
              .account-group{
                color: $color-main-font1;
                text-decoration: none;
                margin-right: 5px;
                &:hover .FullnameGroup{
                  text-decoration: underline;
                  color: $color-main-font3;
                }
                .avatar{
                  float: left;
                  margin-top: 3px;
                  margin-left: -58px;
                  position: absolute;
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                }
                .FullnameGroup{
                  font-weight: bold;
                  line-height: 20px;
                }
                .username{
                  color: $color-main-font2;
                }
              }
              .time{
                color: $color-main-font2;
              }
            }
            .stream-item-footer{
              height: 30px;
            }
          }
        }
      }

    }
  }
}
