#profile-container{
  padding: 46px 0 0;
  margin: 0;
  width: 100%;
}

.ProfilePage-editingOverlay{
    display: none;
    background-color: #fff;
    bottom: 0;
    left: 0;
    opacity: .8;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.ProfilePage-editingButtons{
  display: none;
  position: relative;
  z-index: 10;
  button, input{
    display: inline-block;
  }
}

.ProfileSidebar{
  .ProfileHeaderCard{
    margin-bottom: 16px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 35px;
    &-name{
      font-size: 21px;
      line-height: 24px;
      text-rendering: optimizeLegibility;
      display: block;
      font-weight: bold;
    }
    &-screenname{
      color: $color-main-font2;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 12px;
    }
    &-bio{
      font-size: 14px;
      font-weight: normal;
      line-height: 20px;
      margin-bottom: 12px;
      word-wrap: break-word;
    }
  }
  .ProfileHeaderCardEditing{
    display: none;
    border-radius: 4px;
    margin-top: 33px;
    padding: 10px 15px 6px 15px;
    position: relative;
    z-index: 3;

    &-item{
      margin-bottom: 5px;
    }
    &-name{
      .ProfileHeaderCardEditing-editableField{
        color: $color-main-font1;
        font-weight: bold;
        font-size: 21px;
        line-height: 28px;
      }
    }
    &-bio{
      textarea{
        resize: none;
        height: 5em;
      }
    }
    &-screenname{
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 4px;
    }
    &-editableField{
      color: $color-main-font2;
      border-radius: 4px;
      position: static;
      margin: 0 -6px 0 -8px;
      padding: 4px 7px;
      width: 100%;
    }
  }
}

.ProfileHeading{
  position: relative;
  width: 100%;
  z-index: 1;
  &-spacer{
    margin-top: 10px;
  }
  &-content{
    width: 100%;
    background-color: $color-stream-bg;
    border: 1px solid $color-textarea-border;
    margin-bottom: -1px;
  }
  &-toggleItem{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    padding: 15px 15px 12px;
  }
  .isActive{
    color: $color-main-font1;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
  }
}

.AppContent{
  padding: 56px 14px 15px;
  position: relative;
  width: 890px;
  margin: 0 auto;
  min-height: 0;
  &-main{
    float: none;
    margin: 0;
    position: relative;
    width: auto;
  }
  .ProfileCanopy{
    &--large{
      height: 280px;
      margin: auto;
    }
    &--withnav{
      padding-bottom: 60px;
    }
    &--inner{
      position: relative;
      width: 100%;
      z-index: 4;
    }
    &-header{
      height: 280px;
      margin: auto;
      max-width: 2560px;
      position: relative;
      z-index: 3;
    }
    &-headerBg{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      img{
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        margin: auto 0;
        width: 100%;
      }
    }
    .ProfileHeaderEditing{
      display: none;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 3;
      .dropdown-menu{
        top: -110px;
        right: calc(-50% - 12px);
      }
      &-overlay{
        background: #000;
        opacity: .5;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &-button{
        background: transparent;
        border: 0;
        cursor: pointer;
        outline: 0;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
      &-addHeaderHelp{
        bottom: 80px;
        padding: 0;
        position: absolute;
        width: 100%;
        color: $color-canvas;
        font-size: 18px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
        i{
          font-size: 40px;
        }
      }
      #choose-header-container{
        bottom: 0;
        height: 0;
        position: absolute;
        width: 100%;
        .caret-outer{
          top: -12px;
        }
        .caret-inner{
          top: -11px;
        }
      }
    }
    &-avatar{
      position: absolute;
      bottom: -87px;
      left: 10px;
      transition: bottom .3s;
      z-index: 3;
      .ProfileAvatar{
        border: 5px solid $color-canvas;
        border-radius: 50%;
        height: 200px;
        position: relative;
        width: 200px;
        &-image{
          position: absolute;
          border-radius: 50%;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }


      .ProfileAvatarEditing{
        display: none;
        border-radius: 50%;
        border: 5px solid $color-canvas;
        height: 200px;
        position: relative;
        width: 200px;
        .dropdown-menu{
          top: 125px;
        }
        &-placeholder{
          border-radius: 50%;
          box-sizing: border-box;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
        &-overlay{
          border-radius: 50%;
          box-sizing: border-box;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          background: #000;
          opacity: .5;
        }
        &-button{
          background: transparent;
          border: 0;
          cursor: pointer;
          outline: 0;
          border-radius: 50%;
          box-sizing: border-box;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
        &-addAvatarHelp{
          color: $color-canvas;
          font-size: 18px;
          font-weight: bold;
          line-height: 24px;
          padding: 0 12px;
          text-align: center;
        }
        i{
          font-size: 40px;
        }
      }
    }
    &-navbar{
    background-color: $color-canvas;
    box-sizing: border-box;
    height: 60px;
    }

  }
  .AppContainer{
    height: 100%;
    position: relative;
    margin: 0 auto;
    max-width: 890px;
    .ProfileNav{
      margin-bottom: -1px;
      height: 60px;
      position: relative;
      &-list{
        margin: 0;
        list-style: none;
        padding: 0;
      }
      &-item{
        display: inline-block;
        color: $color-globalnav-font3;
        &--userActions{
          box-sizing: border-box;
          height: 59px;
          padding: 12px 0 0 2px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      &-stat{
        color: inherit;
        &:linked, &:visited{
          color: inherit;
        }
        &:hover{
          border-bottom-width: 2px;
          border-bottom-color: $color-main-font3;
          .ProfileNav-value{
            color: $color-main-font3;
          }
        }
        text-decoration: none;
        height: 60px;
        box-sizing: border-box;
        border-bottom: 0 solid;
        display: block;
        line-height: 1;
        padding: 14px 15px 7px;
        transition: all .15s ease-in-out;
      }
      &-label{
        display: block;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: .02em;
        transition: color .15s ease-in-out;
      }
      &-value{
        display: block;
        font-size: 18px;
        font-weight: bold;
        padding-top: 3px;
        transition: color .15s ease-in-out;
      }
      .isActive{
        a{
          border-bottom-width: 2px;
          border-bottom-color: $color-main-font3;
          .ProfileNav-value{
            color: $color-main-font3;
          }
        }
      }
    }
  }
  .dashboard{
    float: left;
    width: 290px;
    .DashboardProfileCard{
      border: 1px solid $color-main-border;
      background : $color-canvas;
      position : relative;
      margin-bottom: 10px;
      &-bg{
        display: block;
        background-size: 100%;
        height: 95px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-position: 50%;
        width: 100%;
        padding: 0;
        margin-top: -1px;
      }
      &-avatarContainer{
        display: block;
        width: 72px;
        .avatar-settings{
          float: none;
          right: auto;
          position: relative;
        }
      }
      &-avatarLink{
        display: inline-block;
        border-radius: 50%;
        margin: -30px 0 0 8px;
        padding: 1px;
        vertical-align: bottom;
      }
      &-avatarImage{
        border-radius: 50px;
        height: 72px;
        width: 72px;
        border: 2px solid $color-canvas;
        box-sizing: border-box;
        color: $color-canvas;
        i{
          display: inline-block;
          margin: 35px 0 0 20px;
          line-height: 1px;
          font-size: 25px;
        }
      }
      &-userFields{
        position: absolute;
        top: 103px;
        left: 90px;
        width: 185px;
      }
      &-name{
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        margin: -1px 0 -2px 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a{
          text-decoration: none;

        }
        a:hover{
          text-decoration: underline;
        }
      }
      &-screenname{
        a{
          text-decoration: none;
          color: $color-main-font2;
        }
        a:hover{
          text-decoration: underline;
        }
        .username{
          font-size: 14px;
          font-weight: normal;
        }
      }
      .ProfileCardStats{
        padding: 16px;
        &-stat{
          box-sizing: border-box;
          line-height: 1;
          overflow: hidden;
          transition: all .15s ease-in-out;
        }
        &-statLink:hover .ProfileCardStats-statLabel{
          color: $color-main-font3;
        }
        &-statLabel{
          color: $color-main-font2;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: .02em;
          line-height: 16px;
          overflow: hidden;
          transition: color .15s ease-in-out;
        }

        &-statValue{
          font-size: 18px;
          font-weight: bold;
          padding-top: 3px;
        }
      }
    }
  }
  .content-main{
    float: right;
    width: 590px;
  }
  .top-timeline-tweetbox{
    .timeline-tweet-box{
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border: 1px solid $color-main-border;
      .home-tweet-box{
        background-color: $color-main-tweetbox;
        padding: 10px 12px;
        position: relative;
        .top-timeline-tweet-box-user-image{
          position: absolute;
          left: 28px;
          top: 13px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
        .t1-form{
          margin-left: 56px;
          .tweet-content{
            position: relative;
            margin-bottom: 8px;
            .editor-container{
              border-color: $color-tweetbox-border;
              box-shadow: 0 0 0 1px $color-tweetbox-border;
              background: $color-tweetbox-bg;
              border-radius: 8px;
              z-index: 5;
              .editor{
                border: 0;
                box-sizing: border-box;
                border-radius: 0;
                box-shadow: none;
                font-size: 14px;
                margin-left: 6px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 31px;
                display: block;
                min-height: 80px;
                overflow: hidden;
                vertical-align: top;
                width: calc(100% - 12px);
                resize: none;
                &:focus{
                  outline: none;
                }
              }
            }
          }
          .tweetboxtoolbar{
            align-items: center;
            &-tweetButton{
              float: right;
              width: 90px;
            }
          }
        }
      }
    }
  }
}

.dropdown-menu{
  display: none;
  z-index: 900;
  margin: 2px 0 0;
  background: $color-textarea-bg;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba($color-globalnav-border,0.25);
  background-clip: padding-box;
  .dropdown-caret{
    position: absolute;
    top: -10px;
    left: 12px;
    width: 24px;
    height: 18px;
    float: left;
    overflow: hidden;
    .caret-outer{
      z-index: 900;
      position: absolute;
      top: -16px;
      font-size: 33px;
      color: rgba($color-globalnav-border,0.1);
    }
    .caret-inner{
      z-index: 901;
      position: absolute;
      top: -15px;
      font-size: 33px;
      color: $color-textarea-bg;
    }
  }
  li{
    display: block;
    float: none;
    line-height: inherit;
    position: relative;
    input{
      display: none;
    }
    .dropdown-link{
      border: none;
      font-size: 14px;
      line-height: 26px;
      clear: both;
      color: $color-globalnav-font3;
      cursor: pointer;
      display: block;
      font-size: 14px;
      font-weight: normal;
      float: none;
      line-height: 20px;
      margin: 0;
      padding: 5px 20px;
      position: relative;
      white-space: nowrap;
      width: 100%;
      &:hover{
        color: $color-EdgeButton-font;
        background: $color-EdgeButton-bg;
        text-decoration: none;
      }
    }
    .dropdown-divider{
      padding-top: 1px;
      margin: 5px 1px 6px;
      border-bottom: 1px solid $color-dropdown-divider;
    }
  }
}

.dropdown{
  position: relative;
  &.center{
    float: right;
    right: 50%;
    .dropdown-menu{
      float: right;
      right: -50%;
      position: relative;
      .dropdown-caret{
        left: calc(50% - 6px);
        margin-left: -9px;
      }
      .dropdown-link{
        padding: 3px 22px;
        text-align: center;
      }
    }
  }

  .uploader-image{
    .dropdown-menu{
      min-width: 220px;
      padding: 7px 0 6px 0;


      li{
        position: relative;
        margin: 0;
      }
      li+li{
        margin: 0;
      }
      li a{
        display: block;
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
        &:link,&:visited{
          text-decoration: none;
          color: $color-dropdown-font1;
        }

        i{
          display: inline-block;
          margin-right: 10px;
          color: $color-dropdown-font2;
          font-size: 16px;
        }
        &:hover{
          color: $color-EdgeButton-font;
          i{
            color: $color-EdgeButton-font;
          }
          background: $color-EdgeButton-bg;
        }
      }
      .DashUserDropdown{
        &-userInfo{
          margin: 0;
          padding-left: 16px;
          padding-right: 16px;
          white-space: nowrap;
          &Link{
          &:hover{
            color: $color-dropdown-font1;
            background: $color-textarea-bg;
          }
            padding: 0;
            .fullname{
              font-size: 18px;
              font-weight: bold;
              line-height: 24px;
              white-space: nowrap;
            }
            p{
              color: $color-dropdown-font2;
            }
          }
        }
      }
      .dropdown-divider{
        padding-top: 1px;
        margin: 5px 1px 6px;
        border-bottom: 1px solid $color-dropdown-divider;
      }
    }
  }

}

.stream-container{
  position: relative;
  list-style: none;
  .stream{
    position : relative;
    &-items{
      position: relative;
      list-style-type: none;
    }
    &-item{
      background: $color-stream-bg;
      border-left: 1px solid $color-textarea-border;
      border-right: 1px solid $color-textarea-border;
      position: relative;
      .tweet{
        position: relative;
        min-height: 51px;
        padding: 9px 12px;
        border-bottom: 1px solid $color-textarea-border;
        cursor: pointer;
        &:hover{
          background: $color-stream-bg2;
        }
        .content{
          margin-left: 58px;
          .stream-item-header{
            .account-group{
              color: $color-main-font1;
              text-decoration: none;
              margin-right: 5px;
              &:hover .FullnameGroup{
                text-decoration: underline;
                color: $color-main-font3;
              }
              .avatar{
                float: left;
                margin-top: 3px;
                margin-left: -58px;
                position: absolute;
                width: 48px;
                height: 48px;
                border-radius: 50%;
              }
              .FullnameGroup{
                font-weight: bold;
                line-height: 20px;
              }
              .username{
                color: $color-main-font2;
              }
            }
            .time{
              color: $color-main-font2;
            }
          }
          .stream-item-footer{
            height: 30px;
          }
        }
      }
    }
  }
}

.module{
  background-clip: padding-box;
  border: 0;
  position: relative;
  margin-bottom: 10px;
  .flex-module{
    background-color: $color-canvas;
    border: 1px solid $color-textarea-border;
    padding: 15px;
    line-height: 16px;
    &-header{
      margin-bottom: 10px;
      line-height: 16px;
      h3{
        font-size: 18px;
        font-weight: bold;
      }
    }
    .DashboardUserList-item{
      margin-top: 10px;
      border-bottom: 1px solid $color-textarea-border;
      padding-bottom: 8px;
      position: relative;
      display: block;
      min-height: 48px;
      .content{
        min-height: 48px;
        margin-left: 58px;
        margin-right: 20px;
        .account-group{
          color: inherit;
          text-decoration: none;
          &:hover .fullname{
            text-decoration: underline;
            color: $color-main-font3;
          }
          &-inner{
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .fullname{
              word-break: break-all;
              font-size: 14px;
              font-weight: bold;
            }
            .username{
              font-size: 14px;
              color: $color-main-font2;
            }
          }
        }
        img{
          position: absolute;
          left: 0;
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
        .user-actions{
          margin-top: 4px;
          position: relative;
        }
      }
    }
  }
}
