

.signup-wrapper{
  width: 392px;
  padding: 30px 0;
  margin: 0 auto;
  h1{
    font-size: 27px;
    line-height: 32px;
    font-weight: bold;
    padding: 0;
    margin-bottom: 24px;
  }
  .textbox{
    .prompt{
      margin-bottom: 26px;
      .field{
        position: relative;
        margin-bottom: 15px;
        input{
          font-size: 18px;
          font-weight: bold;
          padding: 12px;
          width: 372px;
          line-height: 20px;
        }
        .sidetip{
          position: absolute;
          top: 0;
          left: 402px;
          width: 300px;
          display: flex;
          align-items: center;
          min-height: 32px;
          margin-top: 6px;
          margin-left: 10px;
          p{
            font-size: 14px;
            line-height: 20px;
          }
          .ok{
            color:$color-ok-font;
            display: none;
          }
          .error{
            color:$color-error-font;
            display: none;
          }
        }
      }
    }
  }
  .sign-up-box{
    width: 392px;

  }
}
