$color-body-bg: #e6ecf1;
$color-signup-bg: #FFFFFF;
$color-canvas: #FFFFFF;
$color-alert-text: #66757f;
$color-caret-border: #66757f;
$color-dropdown-font1: #14171a;
$color-dropdown-font2: #657786;
$color-dropdown-divider: #e6ecf0;
$color-globalnav-border: #000000;
$color-globalnav-signin-bg: #FFFFFF;
$color-globalnav-font1: #FFFFFF;
$color-globalnav-font2: #1da1f2;
$color-globalnav-font3: #66757f;
$color-main-font1: $color-dropdown-font1;
$color-main-font2: $color-dropdown-font2;
$color-main-font3: $color-globalnav-font2;
$color-main-border: $color-dropdown-divider;
$color-main-tweetbox: #E8F5FD;
$color-globalnav-signin-font1: #1da1f2;
$color-textarea-placeholder: #ACB7C1;
$color-textarea-border: #e6ecf0;
$color-textarea-bg: #FFFFFF;
$color-tweetbox-border: #A4D9F9;
$color-tweetbox-bg: $color-textarea-bg;
$color-stream-bg: $color-textarea-bg;
$color-stream-bg2: #f5f8fa;
$color-textarea-border-focus: #0084b4;
$color-EdgeButton-bg: #1da1f2;
$color-EdgeButton-bg2: #4AB3F4;
$color-EdgeButton-bg3: #FFF;
$color-EdgeButton-bg-focus: #276eB9;
$color-EdgeButton-bg-focus2: #EDF7FC;
$color-EdgeButton-bg-focus3: #f5f8fa;
$color-EdgeButton-font: #FFF;
$color-EdgeButton-font2: #66757f;
$color-FooterButton-focus: #17bf63;
$color-ok-font: $color-EdgeButton-bg;
$color-error-font: #FF0000;

