$color-globalnav-border: #000000;
$color-globalnav-font1: #FFFFFF;
$color-textarea-placeholder: #ACB7C1;
$color-textarea-border: #e6ecf0;
$color-textarea-bg: #FFFFFF;
$color-textarea-border-focus: #0084b4;
$color-EdgeButton-bg: #1da1f2;
$color-EdgeButton-bg-focus: #276eB9;
$color-EdgeButton-font: #FFFFFF;

