#page-container.AppContent.clearfix
  .dashboard
    .DashboardProfileCard
      %a.DashboardProfileCard-bg.u-bgUserColor{href: ""}
      .DashboardProfileCard-content
        .DashboardProfileCard-avatarContainer
          .avatar-settings
            %a.DashboardProfileCard-avatarLink{href:""}
              .DashboardProfileCard-avatarImage.u-bgUserColor
                %i.fa.fa-camera
        .DashboardProfileCard-userFields
          .DashboardProfileCard-name
            %a.u-textInheritColor{href:""}
              = current_user.nickname
          %span.DashboardProfileCard-screenname.u-inlineBlock
            %a.DashboardProfileCard-screennameLink{href:""}
              %b.username
                = "@" + current_user.name
        .ProfileCardStats
          %ul.ProfileCardStats-statList.Arrange.Arrange--bottom.Arrange-equal
            %li.ProfileCardStats-stat.Arrange-sizeFit
              %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                %span.ProfileCardStats-statLabel.u-block
                  ツイート
                %span.ProfileCardStats-statValue
                  100
            %li.ProfileCardStats-stat.Arrange-sizeFit
              %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                %span.ProfileCardStats-statLabel.u-block
                  フォロー
                %span.ProfileCardStats-statValue
                  50
            %li.ProfileCardStats-stat.Arrange-sizeFit
              %a.ProfileCardStats-statLink.u-textUserColor.u-linkClean.u-block{href:""}
                %span.ProfileCardStats-statLabel.u-block
                  フォロワー
                %span.ProfileCardStats-statValue
                  25
  .content-main.top-timeline-tweetbox
    .timeline-tweet-box
      .home-tweet-box
        = image_tag("default_profile_normal.png",size: "32x32", class: "top-timeline-tweet-box-user-image")
        %form.t1-form.clearfix
          .tweet-content
            .editor-container
              %textarea.editor{type: "text", placeholder: "いまどうしてる？"}
          .tweetboxtoolbar
            .tweetboxtoolbar-tweetButton
              %button.EdgeButton.EdgeButton--medium.EdgeButton--primary2
                ツイート


