.global-nav
  .container
    %i.fa.fa-twitter.center
    %ul.nav--global-actions
      %li#global-nav-home
        = link_to root_path, class: :active do
          %i.fa.fa-home
          %span.text ホーム
    = render "layouts/topbar_right_items"


